.hero{height:calc(70vh);display:grid;place-items:center}.hero .group{width:100%}.hero .sub{text-transform:uppercase;font-size:24px;color:var(--black-4);font-weight:100;margin:0;transition:font-size .5s}.hero .large{font-size:6rem;color:var(--black-2);margin:0;transition:font-size .5s}@media screen and (max-width:800px){.hero .sub{font-size:16px}.hero .large{font-size:3rem}}
.level{
    display: inline-block;
    font-size: 0.8rem;
    margin: 10px;
    background-color: #f38020;
    padding: 5px;
    text-transform: capitalize;
}